{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="alert alert-success">
        <p>{{ user.username }},上次登录时间为：{{ user.last_login|safe }}</p>
    </div>
</div>
<div class="row">
        <div class="col-lg-6">
          <h2>编程主题</h2>
          <div class="panel-group" id="accordion">
          {% for obj in themes %}
          <div class="panel panel-default" id="theme_{{ obj.id }}">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
                  {{ obj.title }} &nbsp;&nbsp;| <span class="label label-primary" title="进度">{{ obj.schedule }}%</span></span>
                </a>
                   &nbsp;&nbsp;<span class="label label-warning" onclick="delTheme({{ obj.id }})" style="cursor: pointer">删除</span> &nbsp;&nbsp; <a href="/manage/theme/{{ obj.id }}/"><span class="label label-info">编辑</span></a>
              </h4>
            </div>
            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in">
              <div class="panel-body">
                  {{ obj.content }}
              </div>
            </div>
          </div>
          {% endfor %}
          <p style="float: right"><a href="/manage/themeManage/"><span class="label label-info">more>></span></a></p>
          <hr/>
          <p>
              <a class="btn btn-primary" href="/manage/addtheme/" role="button">发布主题</a>
          </p>
        </div>
        </div>
        <div class="col-lg-6">
          <h2>我的分享</h2>
          <p><a class="btn btn-primary" href="#" role="button">分享链接</a></p>
       </div>

 </div>
{% endblock %}