{% extends 'base.html' %}
{% block content %}
<div class="row-fluid">
			<div class="page-header">
				<h1>编程主题 <small>所有</small></h1>
			</div>
            <div class="panel panel-default">
                <div class="panel-heading">条件筛选：</div>
                <div class="panel-body">
                    {% if codes %}
                    <div class="btn-group" id="manage_codes">
                       <button type="button" class="btn btn-success" style="margin-right: 10px;display: block" id="c_0">全部方向</button>
                       {% for obj in codes %}
                            <button type="button" class="btn btn-default" style="margin-right: 10px;display: block" id="c_{{ obj.id }}">{{ obj.name }}</button>
                        {% endfor %}
                    </div>
                    <p></p>
                    {% endif %}
                    {% if tags %}
                        <div class="btn-group" id="tags">
                        <button type="button" class="btn btn-primary" style="margin-right: 10px;display: block" id="t_0">全部标签</button>
                           {% for obj in tags %}
                              <button type="button" class="btn btn-default" style="margin-right: 10px;display: block" id="t_{{ obj.id }}">{{ obj.name }}</button>
                            {% endfor %}
                        </div>
                    <p></p>
                    {% endif %}
                    <!--状态-->
                     <div class="btn-group" id="status">
                         <button type="button" class="btn btn-info" style="margin-right: 10px;display: block" id="s_3">全部状态</button>
                         <button type="button" class="btn btn-default" style="margin-right: 10px;display: block" id="s_0">未进行</button>
                         <button type="button" class="btn btn-default" style="margin-right: 10px;display: block" id="s_1">进行中</button>
                         <button type="button" class="btn btn-default" style="margin-right: 10px;display: block" id="s_2">已完成</button>
                     </div>
                    <p></p>
                    <div class="input-group" style="width: 50%;">
                        <input type="text" class="form-control" id="searchTxt">
                        <span class="input-group-btn" placeholder="搜索标题">
                          <button class="btn btn-default" type="button" onclick="getThemeList()">Search.</button>
                        </span>
                    </div>
                </div>
            </div>

            <div id="themeList"></div><!--异步加载-->

		  </div>


{% endblock %}
{% block js %}
    <script src="/site_media/js/manage/manage.js"></script>
{% endblock %}