{% extends 'base_index.html' %}
{% block css %}
    <style>
    .form-signin {
          max-width: 330px;
          padding: 15px;
          margin: 0 auto;
        }
    </style>
{% endblock %}
{% block content %}
<form class="form-signin" role="form" action="/register/" method='post'>{% csrf_token %}
        <h2 class="form-signin-heading">听说注册后能中大奖</h2>
        {{ form.as_p }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">注 册</button>
      </form>
<p class="text-right">已有账号? <a href="/login/">登陆</a></p>
{% endblock %}