{% extends 'base_index.html' %}
{% load pagination_tags %}
{% load mytags %}
{% block content %}
<!--热门主题-->
        <div class="row">
        {% autopaginate users %}
        {% for obj in users %}
         <!--个人用户信息-->
        <div class="media">
          <a class="pull-left" href="/manage/user/{{ obj.id }}/">
            <img class="media-object img-circle" width="80" height="80" src="{{ obj.avatar }}">
          </a>
          <div class="media-body">
            <h4 class="media-heading">{{ obj.username }}</h4>
                <a href="/manage/user/{{ obj.id }}/">主题({{ obj.countTheme }})</a>&nbsp;|
                <a href="/manage/user/{{ obj.id }}/?type='share'">分享({{ obj.countShare|default:0 }})</a>
          </div>
            <small>{% if obj.url %}网站：{{ obj.url }}{% endif %}</small>
            <p><small>{% if obj.url %}个人简介：{{ obj.desc|cut_title:"100" }}{% endif %}</small></p>
        </div>

        {% endfor %}
        </div>
    {% paginate %}

    {% endblock %}

