{% extends 'base.html' %}
{% block css %}
    <link href="/site_media/lhgcalendar/skins/lhgcalendar.css" rel="stylesheet">
    <link href="/site_media/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="/site_media/jsTree/style.css" rel="stylesheet">

{% endblock %}
{% block content %}
<form class="form-signin2" role="form" id="themeform">
        <h2 class="form-signin-heading">发布编程主题</h2>
        <p>主题名称：</p>
        <input type="text" id="title" class="form-control" placeholder="主题名称" required="" autofocus="">
        <p>选择方向：</p>
        <div class="btn-group" id="codes">

           {% for obj in codes %}
            <button type="button" class="btn btn-default" style="margin-right: 10px;display: block" id="c_{{ obj.id }}">{{ obj.name }}</button>
           {% endfor %}
           <input type="button" class="btn btn-info btn-sm" onclick="addCode(this)" style="margin-right: 10px;display: block" value="添加分类">

        </div>
        <p>主要学习什么？：</p>
        <textarea class="form-control" placeholder="内容简介" rows="4" id="desc"></textarea>
        <p>添加标签：</p>
        <div>
            <input type="text" id="yourtags" data-role="tagsinput" placeholder="add Tag,Enter" />
            {% if tags %}<p>已存在的标签：{% for obj in tags %}<span class="label label-primary" onclick="addIt('{{ obj.name }}')">{{ obj.name }}</span>&nbsp;{% endfor %}</p>{% endif %}
        </div>
        <p class="col-md-6" style="padding-left: 0px;">开始时间：<input type="text" class="form-control" placeholder="开始时间" required="" id="begin_date"></p>
        <p class="col-md-6">截止时间：<input type="text" class="form-control" placeholder="截止时间" required="" id="end_date"></p>

        </hr>
        <p>你的学习思路：</p>

        <div>
            <button type="button" class="btn btn-success btn-sm" onclick="demo_create();"><i class="glyphicon glyphicon-asterisk"></i> Create</button>
            <button type="button" class="btn btn-warning btn-sm" onclick="demo_rename();"><i class="glyphicon glyphicon-pencil"></i> Rename</button>
            <button type="button" class="btn btn-danger btn-sm" onclick="demo_delete();"><i class="glyphicon glyphicon-remove"></i> Delete</button>
        </div>

	    <div id="jstree_demo" class="demo_jstree" style="margin-top:1em; min-height:200px;" role="tree" aria-activedescendant="j1_8">
        </div>


        <button class="btn btn-lg btn-primary btn-block" type="submit">发　布</button>
      </form>
{% endblock %}
{% block js %}
    <script src="/site_media/lhgcalendar/lhgcalendar.min.js"></script>
    <script src="/site_media/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="/site_media/jsTree/jstree.min.js"></script>
    <script src="/site_media/jsTree/jstree.contextmenu.js"></script>
    <script src="/site_media/jsTree/jstree.dnd.js"></script>
    <script src="/site_media/jsTree/jstree.state.js"></script>
    <script src="/site_media/jsTree/jstree.types.js"></script>
    <script src="/site_media/jsTree/jstree.wholerow.js"></script>


{% endblock %}