{% extends 'base_index.html' %}
{% load pagination_tags %}
{% load mytags %}
{% block content %}
<!--热门主题-->
    <h3 class="text-center text-info">所有类型为: <code>{{ typename }}</code>的主题</h3>
    <br/>
        <div class="row">
        {% autopaginate themes %}
        {% for obj in themes %}
        <div class="media">
          <a class="pull-left" href="/codetheme/user/{{ obj.getUser.id }}/">
            <img class="media-object img-circle" src="{{ obj.getUser.avatar }}" width="80" height="80">
          </a>
          <div class="media-body">
             <div class="thumbnail {% if obj.status == 1 %}warning{% elif obj.status == 2 %}success{% endif %}">
              <div class="caption">
                <p><!--标题.类别-->
                    <strong>
                        <a href="/codetheme/{{ obj.id }}/">{{ obj.title }}</a>
                        <a href="/codetheme/type/{{ type }}/" class="label label-warning navbar-text navbar-right">{{ typename }}</a>
                    </strong>
                </p>
                <small>{{ obj.summary|cut_title:'200' }}</small>
                <p class="small_hr">
                    作者：<a href="/codetheme/user/{{ obj.getUser.id }}/">{{ obj.getUser.username }}</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;热度：{{ obj.counts }}℃
                    &nbsp;&nbsp;&nbsp;&nbsp;关注度：{{ obj.getLove }}
                    {% if obj.getTags %}&nbsp;&nbsp;标签：{% for i in obj.getTags %}<a href="/codetheme/tag/{{ i.tag.id }}/" class="label label-danger small">{{ i.tag.name }}</a> {% endfor %}{% endif %}
                    &nbsp;&nbsp;&nbsp;&nbsp;关注：
                    <a class="{% if user.is_authenticated and user.id in obj.getLoveObj %}btn btn-success btn-xs{% else %}btn btn-warning btn-xs{% endif %}" {% if user.is_authenticated %}onclick="LoveIt({{ obj.id }}, this)"{% else %} data-toggle="modal"  data-target="#myModal"{% endif %}>
                          <span class="glyphicon glyphicon-star"></span>(<span id="love_{{ obj.id }}">{{ obj.getLove }}</span>人)
                    </a>

                </p>
              </div>
            </div>

          </div>
        </div>

        {% endfor %}
        </div>
    {% paginate %}

    {% endblock %}

{% block js %}
<script src="/site_media/js/index.js"></script>
{% endblock %}