{% if user.is_authenticated %}{# 用户未登录状态 #}
<!--个人用户信息-->
<div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">个人用户信息 <small style="float: right" ><a href="/manage/">后台</a></small></h3>
      </div>
      <div class="panel-body" id="myself">

      </div>
</div>
{% endif %}

<!--主题介绍-->
 <div class="panel panel-default" id="themedesc" style="display: none">
  <div class="panel-heading">
    <h3 class="panel-title"><b class="text-danger">主题操作指南</b></h3>
  </div>
  <div class="panel-body">
    <p>1.主题发布者可以更改完成率（翻译完成度，或总结的完成度）。</p>
    <p>2.精华主题生成规则：关注数+热度+链接数+评论数。</p>
    <p class="text-danger">3.营造良好的专一，认真，专业的平台，需要大家共同的努力！</p>
  </div>
</div>



<!--最近加入的用户-->
 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">最近加入的用户<small style="float: right"><a href="/codetheme/user/list/">more</a></small></h3>
  </div>
  <div class="panel-body" id="recent_user">

  </div>
</div>



<!--精华主题前15条-->
<div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span id="hot_month"></span>月份热门主题 <small style="float: right" ><a href="/codetheme/hot/">more</a></small></h3>
      </div>
      <div class="panel-body" id="hot_themes"></div>
</div>

<!--最近分享前15条-->
 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">最近分享链接<small style="float: right"><a href="/share/">more</a></small></h3>
  </div>
  <div class="panel-body" id="recent_share"></div>
</div>