<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="wb:webmaster" content="2212f77a057befd5" />
    <title>编程主题</title>
    <link rel="shortcut icon" href="/site_media/code.ico" type="image/icon">
    <link rel="icon" href="/site_media/code.ico" type="image/icon">
    <link href="/site_media/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/site_media/css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% block css %}{% endblock %}
  </head>

  <body>
   {% include 'common/head.html' %}
    <div class="container main">
        {% if not user.is_authenticated and request.path == '/' %}{# 用户未登录状态 #}
        <div class="alert alert-warning alert-dismissable">
        <h2>网站正在改版中，新功能，新方向。敬请期待！</h2>
        <!--<p>
          <a class="btn btn-lg btn-primary" href="/login/" role="button">Go on&nbsp;&raquo;</a>
        </p>
        -->
        </div>
        {% endif %}      {# 用户已登陆状态 #}
        <div class="row">
            <!--左侧-->
            <div class="col-md-9">{% block content %}{% endblock %}</div>
             <!--右侧-->
            <div class="col-md-3">{% include 'common/sidebar.html' %}{% block side %}{% endblock %}</div>
        </div>

    </div> <!-- /container -->
  <ul id="jump">
    <li style="display:none;height:50px;"><a id="tops" href="#top"></a></li>
    <li style="height:50px"><a id="sina" rel="nofollow" href="http://weibo.com/BeginMan" target="_blank"></a></li>
    <li style="height:50px; display: none"><a id="ceping" href="javascript:;" target="_blank"></a></li>
    <li style="height:50px"><a id="reply" href="/codetheme/feedback/" target="_blank"></a></li>
  </ul>



    {% include 'common/dialog.html' %}
    {% include 'common/footer.html' %}

    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="/site_media/bootstrap/js/bootstrap.min.js"></script>
    <script src="/site_media/artDialog4.1.6/jquery.artDialog.addSkin.js?skin=white"></script>
    <script src="/site_media/js/jquery.jbasicext.js"></script>
    <script src="/site_media/js/common.js"></script>
<script>
    $(function(){
        // 异步加载
        getHotTheme();
        getRecentShare();
        getRecentUser();
        {% if user.is_authenticated %}{# 用户未登录状态 #}
            getUser();
        {% endif %}
        // 弹出框
        $('#myModal, #noMaser, #General').modal('hide');
        	$('#welcome').fadeTo(2000, 1).delay(2000).animate({
		opacity: 0,
		marginTop: '-=200'
	},
	1000,
	function() {
		$('#welcome').hide();
	});
    // 返回顶部
	$(window).scroll(function() {
		if ($(window).scrollTop() > 50) {
			$('#jump li:eq(0)').fadeIn(800);
		} else {
			$('#jump li:eq(0)').fadeOut(800);
		}
	});
	$("#top").click(function() {
		$('body,html').animate({
			scrollTop: 0
		},
		400);
		return false;
	});
    })
    // 获取用户信息
    function getUser(){
        var url = '/codetheme/get_user_info/';
        $.post(url, function(data){
            $('#myself').html(data);
        })
    }
    // 获取最近注册过的用户
    function getRecentUser(){
        var url = '/codetheme/get_user_recent/';
        $.post(url, function(data){
            $('#recent_user').html(data);
        })
    }
    // 获取精华主题
    function getHotTheme(){
        var url = '/codetheme/get_hot_theme/';
        $.post(url, function(data){
            $('#hot_themes').html(data);
        })
    }
    // 获取最近分享
    function getRecentShare(){
        var url = '/codetheme/get_recent_share/';
        $.post(url, function(data){
            $('#recent_share').html(data);
        })
    }
</script>
{% block js %}{% endblock %}
  </body>
</html>
