{% extends 'base_index.html' %}
{% load pagination_tags %}
{% load mytags %}
{% block content %}
<!--热门主题-->

    {% autopaginate themes %}
    <p class="text-right">查看: <a href="">默认</a> | <a href="">精华帖</a> | <a href="">冷冰冰</a></p>
    {% for obj in themes %}
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" width="60" height="60" src="{{ obj.getUser.avatar }}" alt="{{ obj.getUser.username }}">
          </a>
          <div class="media-body">
            <p class="media-heading"><a href=""><b>{{ obj.title }}</b></a></p>
            <p class="text-muted">
                <a href="{{ obj.getType.id }}">{{ obj.getType.name }}</a>
                <a href="">{{ obj.getUser.username }}</a>
                {{ obj.add_date|fun }}
            </p>
          </div>
        </div>
    {% endfor %}

{% paginate %}
{% endblock %}

{% block js %}
    <script src="/site_media/js/index.js"></script>
    <script>
    $(function(){

    })
    </script>
{% endblock %}